@import "/styles/branding.module.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headerFont;
}

p,
li {
  font-family: $defaultFont;
}

main {
  min-height: 90vh;
}
